
.content-box
  .content-box__title
    = "タイトル: #{product.name}"
  .content-box__language
    = "使用言語: #{product.language}"
  .content-box__environment
    = "その他技術: #{product.technique}"
  .content-box__image
    = link_to "#{product.address}", target: :_blank, class: "content-box__address__link" do
      = image_tag("/#{product.image}", size: '268x140', class: "content-box__image__picture")
  .content-box__description
    = "#{product.description}"
  -# .content-box__address
    
  
  

