
.content-box
  .content-box__title
    = "タイトル: #{product.name}"
  .content-box__language
    = "使用言語: #{product.language}"
  .content-box__environment
    = "その他技術: #{product.technique}"
  .content-box__image
  

