

.header_area
  = render 'layouts/header' 

.main_box
  .main_box__content_area
    = render @products
    -# 部分テンプレート先に、インスタンス変数導入後にeach構文を入れること

    = render 'layouts/content2'

    = render 'layouts/content2'

    = render partial: 'product2', locals: { products: @products_second }

= render 'layouts/footer'