

.header_area
  = render 'layouts/header' 

.main_box
  .main_box__content_area
    = render 'layouts/content', collection: @products
    -# 部分テンプレート先に、インスタンス変数導入後にeach構文を入れること

    = render 'layouts/content'

    = render 'layouts/content'

    = render 'layouts/content2'

    = render 'layouts/content2'

    = render 'layouts/content2'

= render 'layouts/footer'