

= render 'layouts/header'

.main_box
  .main_box__content_area
    = render 'layouts/content'

    = render 'layouts/content'

    = render 'layouts/content'

    = render 'layouts/content'

    = render 'layouts/content'

    = render 'layouts/content'

= render 'layouts/footer'